.card {
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 30px;
}
.card table {
	width: 100%;
}
.card table thead tr th:first-child {
	text-align: left;
}

.card table tr td {
	margin-bottom: 1px solid #ddd;
	padding: 12px 0;
}